.layout {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 100%;
}

.fullHeight {
    min-height: calc(100vh - 90px);
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 4px 12px;
}
