apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    uid: loki
    url: http://loki:3100
    jsonData:
      maxLines: 5000
      derivedFields:
        - datasourceUid: loki
          matcherRegex: "request_id=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
    editable: false
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus
    url: http://prometheus:9090
    editable: false
